.bg-azul-2 {
	background-color: #325694;
}

.div-parte-full {
	border-radius:15px;
	margin-bottom:2rem;
	padding-bottom:3rem;
}

.div-title-dash {
	border-radius:15px;
	padding:0.2rem;
	margin-bottom:1.2rem;
	margin-top: -0.5rem;
}

.title-dash {
	font-size:2rem;
}

.mg-rg1 {
	margin-right:1.9rem;
}

.mg-rg {
	margin-right:1rem;
}

.bg-text-last {
	color: #a9a8b0 !important;
}

.divisor-hr {
	margin-top: 2rem;
	background-color: '#4473c5' !important;
	/*color:  !important;*/
}

.part-last {
	margin-top: 1rem;
	line-height:2rem;
}

.bg-text-now {
	color: #ffffff !important;
}

.bg-text-azul {
	color: #4473c5 !important;
}

.part-now {
	/*margin-left:1.8rem;*/
	margin-top: 20px;
	line-height:30px;
}

.part-now2 {
	line-height:30px;
}

/* cor azul claro dash sistema: #325694; */

/* cor azul escuro dash sistema: #213862; */

/* cor label cinza last: #213862; */

.font-1 {
	font-family: Bahnschrift Light;
	letter-spacing: .2rem;
}

.font-2 {
	font-family: Gill Sans;
	letter-spacing: .2rem;
}

.pdl-5 {
	padding-left:1rem;
}

.pdr-5 {
	padding-right:1rem;
}

.pdl-10 {
	padding-left:2rem;
}

.pdr-10 {
	padding-right:2rem;
}

/* Style Last */
.title_last {
	font-size: 0.9rem;
	font-weight: normal;
	line-height: 3rem;
}

.subtitle_last {
	line-height:3rem;
}

.number_last {
	font-size:4rem;
	line-height:3rem;
}

.number_last2 {
	font-size:2rem;
	line-height:3rem;
}

.value_hh {
	font-size:1.8rem;
	font-weight:bold;
	font-weight:600;
	line-height:2rem;
}

.txt_hh {
	font-weight:bold;
	font-weight:600;
}

.signal_value {
	font-size:1.2rem;
}

.valor_rs {
	font-size:2.5rem;
}

/* Style Now */
.title_now {
	padding-left:8rem;
	padding-bottom:0rem;  
}

.title_now2 {
	font-size:1rem;
	line-height:4rem;
	margin-top: auto;
}

.subtitle_now {
	line-height:4rem;
}

.number_now {
	font-size:5rem;
}

.hour_now_tkt {
	font-size: 2rem;
}

.mg-hour-tkt {
	margin-top:1rem;
}

.number_now2 {
	line-height:4rem;
	font-size:3.5rem;
}

.value_hh_now {
	font-size:2.8rem;
	font-weight:bold;
	font-weight:600;
	line-height:1rem;
}

.txt_hh_now {
	font-size:1.2rem;
	font-weight:bold;
	font-weight:600;
}

.signal_value_now {
	font-size:1.5rem;
}

.signal_value_now2 {
	font-size:2.8rem;
}

.valor_rs_now {
	font-size:3.2rem;
}

.valor_rs_now2 {
	font-size:5rem;
}

.tabela_values_hh {
	width: 100%;
    margin-bottom: 1rem;
    font-size:1.2rem;
}

.tabela_values_hh tr td {
	padding:5px;
}

.border-sup {
	border-top:solid 1px;
    border-color:#4473c5 !important;
    cursor:pointer;
}

.border-right {
	border-right:solid 1px;
    border-color:#4473c5 !important;
}

.title_prod {
	font-size:18px;
}

.porc_prod {
	line-height:5rem;
	font-size:7rem;
}

.signal_porc_prod {
	font-size:4rem;
}

.c-pointer {
	cursor:pointer;
}

.hr_divisor {
	height:1px;
	border-width:0;
	color:#4473c5;
	background-color:#4473c5;
}

.font-table-tkt {
	font-size:2rem;
}

.mg-left-equipe {
	margin-left:0rem;
	line-height:2.5rem; 
}

.mg-left-equipe2 {
	margin-left:1rem;
	line-height:2rem;
}

.title_dash_realtime {
	padding:1rem;
	font-size:5rem;
}

.number_tkt {
	font-size:5rem;
}

.title_number_tkt {
	font-size:1.5rem;
}

.mg-txt-tkt {
	margin-top:0.6rem;
	margin-bottom:0.6rem;
}

.name_equipe {
	font-size: 1.2rem;
}

.tkt_equipe {
	font-size: 1.2rem;
	line-height:3rem;
}

.mg-tkt {
	padding-top:1rem;
	margin-bottom:0.5rem;
}

.txt_lbl_tkt {
	font-size:1rem;
}

/*
@media screen and (max-width: 995px) , screen and (max-height: 700px) {

}
*/

/* large */
body {

	background-color: #213862;
}

@media screen and (max-width: 1024px) {

	.div-parte-full {
		border-radius:15px;
		margin-bottom:2rem;
		padding-bottom:3rem;
	}

  	.part-now {
		margin-left:0rem;
		margin-top: 0.4rem;
		line-height:30px;
	}

	.part-now2 {
		line-height:30px;
	}

  	.pdl-10 {
		padding-left:0rem;
	}

	.pdr-10 {
		padding-right:0rem;
	}

  	/* Style Last */
	.title_last {
		font-size: 0.7rem;
		font-weight: normal;
		line-height: 1rem;
	}

	.number_last {
		font-size:3rem;
		line-height:3rem;
	}

	.number_last2 {
		font-size:2rem;
		line-height:2rem;
	}

	.value_hh {
		font-size:1rem;
		font-weight:bold;
		font-weight:600;
		line-height:2rem;
	}

	.txt_hh {
		font-size:0.5rem;
		font-weight:bold;
		font-weight:600;
	}

	.signal_value {
		font-size:0.9rem;
	}

	.valor_rs {
		font-size:1.8rem;
	}

	/* Style Now */
	.title_now {
		font-size:0.8rem;
		padding-left:6rem;
		padding-bottom:0rem;
	}

	.title_now {
		font-size:0.8rem;
		padding-left:6rem;
		padding-bottom:0rem;
	}

	.number_now {
		font-size:3.5rem;
	}

	.hour_now_tkt {
		font-size: 2rem;
	}

	.number_now2 {
		line-height:4rem;
		font-size:2.5rem;
	}	

	.value_hh_now {
		font-size:1.2rem;
		font-weight:bold;
		font-weight:600;
		line-height:1rem;
	}

	.txt_hh_now {
		font-size:0.8rem;
		font-weight:bold;
		font-weight:600;
	}

	.signal_value_now {
		font-size:0.8rem;
	}

	.signal_value_now2 {
		font-size:1rem;
	}

	.valor_rs_now {
		font-size:1.8rem;
	}

	.valor_rs_now2 {
		font-size:2.5rem;
	}

	.porc_prod {
		line-height:3rem;
		font-size:5rem;
	}

	.txt_lbl_tkt {
		font-size:0.6rem;
	}
}

/* Medium */
@media screen and (max-width: 992px) , screen and (max-height: 600px) {

/*@media screen and (max-width: 992px) { */

	.title-dash {
		margin-top:0.6rem;
		font-size:2rem;
	}

	.div-parte-full {
		border-radius:15px;
		margin-bottom:2rem;
		padding-bottom:3rem;
	}

  	.part-now {
		margin-left:0rem;
		margin-top: 20px;
		line-height:30px;
	}

	.part-now2 {
		line-height:30px;
	}

  	.pdl-10 {
		padding-left:0rem;
	}

	.pdr-10 {
		padding-right:0rem;
	}

	/* Style Last */
	.title_last {
		font-size: 0.9rem;
		font-weight: normal;
		line-height: 3rem;
	}

	.subtitle_last {
		line-height:5rem;
	}

	.number_last {
		font-size:4rem;
		line-height:3rem;
	}

	.number_last2 {
		font-size:2rem;
		line-height:3rem;
	}

	.value_hh {
		font-size:1.8rem;
		font-weight:bold;
		font-weight:600;
		line-height:2rem;
	}

	.txt_hh {
		font-size:1rem;
		font-weight:bold;
		font-weight:600;
	}

	.signal_value {
		font-size:1.2rem;
	}

	.valor_rs {
		font-size:2.5rem;
	}

	/* Style Now */
	.title_now {
		padding-left:8rem;
		padding-bottom:0rem;  
	}

	.subtitle_now {
		line-height:6rem;
	}

	.number_now {
		font-size:5rem;
	}

	.hour_now_tkt {
		font-size: 3.5rem;
	}

	.number_now2 {
		line-height:4rem;
		font-size:2.5rem;
	}

	.value_hh_now {
		font-size:2.8rem;
		font-weight:bold;
		font-weight:600;
		line-height:1rem;
	}

	.txt_hh_now {
		font-size:1.2rem;
		font-weight:bold;
		font-weight:600;
	}

	.signal_value_now {
		font-size:1.5rem;
	}

	.signal_value_now2 {
		font-size:2rem;
	}

	.valor_rs_now {
		font-size:3.2rem;
	}

	.valor_rs_now2 {
		font-size:3.2rem;
	}

	.full-height {
		min-height:50vh;
	}

	.full-height-2{
		min-height:50vh;
	}

	.number_tkt {
		font-size:2rem;
		line-height:3rem;
	}

	.title_number_tkt {
		font-size:1rem;
	}

	.txt_lbl_tkt {
		font-size:1rem;
	}
}

@media screen and (min-width: 1024px) {

	.full-height {
		min-height:85vh;
	}

	

	.number_tkt {
		font-size:3rem;
	}

	.title_number_tkt {
		font-size:1rem;
	}
}

@media (min-width: 1024px) and (max-height:800px) {

	.div-alt-full {
		min-height:150vh;
	}

    .full-height-equipe {
		min-height:150vh;
	}

	.full-height-tkt-dev {
		min-height:165vh;
	}

	.full-height-tkt-dev-2 {
		min-height:80vh;	
	}

	.barra_horas {
		min-width: 40%;
	}

	.tkt_equipe {
		font-size: 0.8rem;
		line-height:3rem;
	}
}

@media (min-width: 1024px) and (min-height:1000px) {

	.div-alt-full {
		min-height:70vh;
	}

    .full-height-equipe {
		min-height:80vh;
	}

	.full-height-tkt-dev {
		min-height:96vh;
	}

	.full-height-tkt-dev-2 {
		min-height:47vh;	
	}

	.barra_horas {
		min-width: 40%;
	}

	.tkt_equipe {
		font-size: 0.8rem;
		line-height:3rem;
	}
}

/*
@media (min-height:992px;) and (min-width: 1024px) {

	.full-height-equipe {
		min-height:100vh;
		max-height:150vh;
	}
}*/

@media screen and (max-width: 992px) {

	.full-height {
		min-height:100vh;
	}

	.div-alt-full {
		min-height:70vh;
	}

	.mg-rg1 {
		margin-right:2.2rem;
	}

	.mg-rg {
		margin-right:1.5rem;
	}
}

@media screen and (max-width: 600px) {

	.mg-rg1 {
		margin-right:0.9rem;
	}

	.mg-rg {
		margin-right:0rem;
	}

	.barra_horas {
		min-width: 0%;
	}
}

@media screen and (min-width: 1200px) {

	.div-alt-full {
		min-height:70vh;
	}

	.number_tkt {
		font-size:5rem;
	}

	.title_number_tkt {
		font-size:1.5rem;
	}

	.mg-txt-tkt {
		margin-top:0.6rem;
		margin-bottom:0.6rem;
	}

	.full-height-equipe {
		min-height:110vh;
	}

	.full-height-tkt-dev {
		min-height:135vh;
	}

	.full-height-tkt-dev-2 {
		min-height:66vh;	
	}

	.barra_horas {
		min-width: 40%;
	}
	
}