div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}

.page-item.active .page-link {
    z-index: 3 !important;
    color: #fff !important;
    background-color: #354B5E !important;
    border-color: #354B5E !important;
}

.txt-azul 
{
	color:#174677 !important;
}


.divisor 
{
	padding-left: 12px;
	text-align:center;  
}

.dash-iframe 
{
	max-width:800px; 
	max-height:600px;
}

.icon-menu 
{
	font-size:24px;
}

.nav-item {
	margin-left:15px;
	margin-right: 15px;
}

.user-profile 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size:50px 50px;
}

#img-user li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;
}

#img-user li h4
{
  margin-top:10px;
}

.box-img-post 
{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size:50px 50px;
    margin-left:5px;
}

.ul-user-post
{
	margin-left: -40px;
}

.ul-user-post li
{
	display: inline;
  	list-style-type: none;
  	padding-right: 20px;
  	float: left;
}

.ul-user-post li p
{
	font-weight: bold;
	font-weight: 500;
}


.list-chamados 
{
	font-size: 14px;
	line-height:25px;
}

.list-chamados li a 
{
	color:#000000;
}

body 
{
	background-color:#f5f5f5 ;
}

.box-postagem {
	margin-top: 15px;
	margin-bottom:15px; 
}


.modal-header
{
	border-bottom: none !important;
}

.modal-footer
{
	border-top: none !important;
}

.label-icon-menu {
	font-size:12px;
	color: rgba(255,255,255,.5);
}

.nav-link {
	margin-bottom:-10px;
}
/* Create a sticky/fixed navbar */
#navbar {
	padding: 10px 10px; /* Large padding which will shrink on scroll (using JS) */
	transition: 0.4s; /* Adds a transition effect when the padding is decreased */
	/*position: fixed;*/ /* Sticky/fixed navbar */
	width: 100%;
	top: 0; /* At the top */
	z-index: 99;
	/*margin-bottom: 100px;*/
}

/* Style the navbar links */
#navbar a {

	border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
	transition: 0.4s;
}

/* Links on mouse-over */
#navbar a:hover {


}
.adjust-menu{
	margin-bottom: 0.5em !important;
}

/* Style the active/current link */
#navbar a.active {
	background-color: dodgerblue;
	color: white;
}

/* Display some links to the right */
#navbar-right {

}
#icon-sticky,#icon-sticky2,#icon-sticky3,#icon-sticky4,#icon-sticky5,#icon-sticky6,#icon-sticky7,#text-sticky,#text-sticky2,#text-sticky3,#text-sticky4,#text-sticky5,#text-sticky6,#text-sticky7{
	transition: 0.4s;
}

.lateral-fixed {
	height: 100%;
	background: #fff;
	overflow-x: hidden;


}
.header-menu{
	padding: 23px !important;
	color: #000;
	background: #F5F5F5 !important;
	font-weight: bold;
	font-size: 22px;
	border: 1px solid #ddd;
}

.lateral-fixed a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 18px;
	color: #000;
	display: block;
}
.lateral-fixed .active a {
	color: #fff !important;
}
.lateral-fixed ul .active {
	background: #064579 !important;
	color: #fff !important;

}
.lateral-fixed ul li .active {
	color: #fff !important;
}
.lateral-fixed ul .active a:hover {
	color: #fff !important;
}

.lateral-fixed a:hover {
	color: #064579;
}
.lateral-fixed li {
	background: #DCDCDC;
	padding: 4px;
	margin-bottom: 4px;
}
.lateral-fixed .mkt-menu{
	padding: 0px !important;
}
.lateral-fixed li:first-child {

	/*border-top-right-radius: 70px;*/
}
.lateral-fixed li:last-child {

	/*border-bottom-right-radius: 70px;*/
}
.mkt-menu .dropdown-menu{
	width: 100%;
	position: relative !important;
	will-change: transform;
	transform: initial !important;
	 padding: 0px !important;
	 margin: 0px !important;
	 border: 0px !important;
	 border-radius: 0px !important;

}
.mkt-menu a.dropdown-item {
	margin: 5px 0px !important;
	background: #9fa8da;
	padding-left: 13%;
	color: #000;
}

.mkt-menu .btn-secondary:not(:disabled):not(.disabled).active, .mkt-menu  .btn-secondary:not(:disabled):not(.disabled):active, .mkt-menu .show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: transparent !important;
	border-color: transparent !important;
}
.main {
	/* Same width as the sidebar + left position in px */
	font-size: 18px; /* Increased text to enable scrolling */

}
.sep-text{
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	width: fit-content;
}
.disabled{
	pointer-events: none;
}
.ui.multiple.dropdown>.label{
	font-size: 15px !important;
}
.ui.multiple.dropdown>.label{
	padding: 3px !important;
}
.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon{
	top: 6px !important;
}
.ui.selection.dropdown{
	min-height: 40px !important;
	min-width: 100% !important;
}
form .row{
	margin-left: 0px !important;
}

/* Formulario animado*/
div.container_form{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* form design */

.docente_form {
  text-align: center;
  
  padding: 30px;
  margin-bottom: 100px;
}

.docente_form label {
  display: block !important;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

/* animation for the text to float up */

.docente_form label .label-text {
  color: #000;
  cursor: text;
  font-size: 15px !important;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
  transition: all 0.3s;
}

.docente_form .select_form{
	padding-top: 0px !important;
	font-size: 15px;
}

/* remove the input box styling */
.docente_form label input {
  background-color: #fff !important;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: #000;
  font-size: 20px;
  letter-spacing: 1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 100%;
}

.docente_form  .form-control{
	border: 2px solid #4A4A4A !important;
}
/* once you click in the input the input width box animates */

.docente_form label input:focus {
  max-width: 100%;
  width: 100%;
}

/* the text floats up and turns white */

.docente_form label input:focus + .label-text {
  color: #9B9B9B;
  font-size: 13px;
  margin-top: 10px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

/* the text floats up during form validation */

.docente_form label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

/* button styling */

.docente_form button {
  background: #000;
  color: #F0F0F0;
  border: 2px solid #000;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 20px 75px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.docente_form button:hover, button:focus {
  background-color: white;
  color: #333333;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {

}
