a {
  text-decoration:none;
}

.table {
  font-size:14px;
}

.conteudo {
  margin-top:80px;
}

.txt-azul 
{
	color:#174677 !important;
}

.divisor 
{
	padding-left: 12px;
	text-align:center;  
}

.dash-iframe 
{
	max-width:800px; 
	max-height:600px;
}

.icon-menu 
{
	font-size:24px;
}

.nav-item {
	margin-left:15px;
	margin-right: 15px;
}

.user-profile 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size:50px 50px;
}

#img-user li
{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;
}

#img-user li h4
{
  margin-top:10px;
}

.box-img-post 
{
	width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size:50px 50px;
    margin-left:5px;
}

.ul-user-post
{
	margin-left: -40px;
}

.ul-user-post li
{
	display: inline;
  	list-style-type: none;
  	padding-right: 20px;
  	float: left;
}

.ul-user-post li p
{
	font-weight: bold;
	font-weight: 500;
}


.list-chamados 
{
	font-size: 14px;
	line-height:25px;
}

.list-chamados li a 
{
	color:#000000;
}

body 
{
	background-color:#f5f5f5 ;
}

.box-postagem {
	margin-top: 15px;
	margin-bottom:15px; 
}


.modal-header
{
	border-bottom: none !important;
}

.modal-footer
{
	border-top: none !important;
}

.label-icon-menu {
	font-size:12px;
	color: rgba(255,255,255,.5);
}

.nav-link {
	margin-bottom:-10px;
}
/* Create a sticky/fixed navbar */
#navbar {
	padding: 10px 10px; /* Large padding which will shrink on scroll (using JS) */
	transition: 0.4s; /* Adds a transition effect when the padding is decreased */
	position: fixed; /* Sticky/fixed navbar */
	width: 100%;
	top: 0; /* At the top */
	z-index: 99;
	margin-bottom: 100px;
}
.menu_dash{
	position: fixed;
	width: 100%;
	top: 73px;
	z-index: 2;
}
.menu_dash .navbar-nav{
	
    align-items: center;
}
.bg-azul-1{
	margin-top: 75px;
}
/* Style the navbar links */
#navbar a {

	border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
	transition: 0.4s;
}

/* Links on mouse-over */
#navbar a:hover {


}
.adjust-menu{
	margin-bottom: 0.5em !important;
}

/* Style the active/current link */
#navbar a.active {
	background-color: dodgerblue;
	color: white;
}

/* Display some links to the right */
#icon-sticky,#icon-sticky2,#icon-sticky3,#icon-sticky4,#icon-sticky5,#icon-sticky6,#icon-sticky7,#text-sticky,#text-sticky2,#text-sticky3,#text-sticky4,#text-sticky5,#text-sticky6,#text-sticky7{
	transition: 0.4s;
}

.lateral-fixed {
	height: 100%;
	background: #fff;
	overflow-x: hidden;
}

.header-menu{
	padding: 23px !important;
	color: #000;
	background: #F5F5F5 !important;
	font-weight: bold;
	font-size: 22px;
	border: 1px solid #ddd;
}

.lateral-fixed a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 16px;
	color: #000;
	display: block;
}
.lateral-fixed .active a {
	color: #fff !important;
}
.lateral-fixed ul .active {
	background: #064579 !important;
	color: #fff !important;
}
.lateral-fixed ul li .active {
	color: #fff !important;
}
.lateral-fixed ul .active a:hover {
	color: #fff !important;
}

.lateral-fixed a:hover {
	color: #064579;
}
.lateral-fixed li {
	background: #DCDCDC;
	padding: 4px;
	margin-bottom: 4px;
}
.lateral-fixed .mkt-menu{
	padding: 0px !important;
}
.lateral-fixed li:first-child {

	/*border-top-right-radius: 70px;*/
}
.lateral-fixed li:last-child {

	/*border-bottom-right-radius: 70px;*/
}
.mkt-menu .dropdown-menu{
	width: 100%;
	position: relative !important;
	will-change: transform;
	transform: initial !important;
	 padding: 0px !important;
	 margin: 0px !important;
	 border: 0px !important;
	 border-radius: 0px !important;
}
.mkt-menu a.dropdown-item {
	margin: 5px 0px !important;
	background: #9fa8da;
	padding-left: 13%;
	color: #000;
}

.mkt-menu .btn-secondary:not(:disabled):not(.disabled).active, .mkt-menu  .btn-secondary:not(:disabled):not(.disabled):active, .mkt-menu .show>.btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: transparent !important;
	border-color: transparent !important;
}
.main {
	/* Same width as the sidebar + left position in px */
	font-size: 18px; /* Increased text to enable scrolling */
}
.sep-text{
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
	width: fit-content;
}
.disabled{
	pointer-events: none;
}
.ui.multiple.dropdown>.label{
	font-size: 15px !important;
}
.ui.multiple.dropdown>.label{
	padding: 3px !important;
}
.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon{
	top: 6px !important;
}
.ui.selection.dropdown{
	min-height: 40px !important;
	min-width: 100% !important;
}
form .row{
	margin-left: 0px !important;
}

/*
//Formulario animado
div.container_form{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

//form design

.docente_form {
  text-align: center;

  padding: 30px;
  margin-bottom: 100px;
}

.docente_form label {
  display: block !important;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

//animation for the text to float up

.docente_form label .label-text {
  color: #000;
  cursor: text;
  font-size: 15px !important;
  line-height: 20px;
  text-transform: uppercase;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
  transition: all 0.3s;
}

.docente_form .select_form{
	padding-top: 0px !important;
	font-size: 15px;
}

remove the input box styling
.docente_form label input {
  background-color: #fff !important;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: #000;
  font-size: 20px;
  letter-spacing: 1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 100%;
}
*/

.box-cadastro-produto select{
	 appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    background: url(../img/arrow-select.svg) 100% center/40px 40px no-repeat #fff !important;
}

/*.docente_form  .form-control{
	border: 2px solid #4A4A4A !important;
}*/
/* once you click in the input the input width box animates */

/*.docente_form label input:focus {
  max-width: 100%;
  width: 100%;
}*/

/* the text floats up and turns white */

/*.docente_form label input:focus + .label-text {
  color: #9B9B9B;
  font-size: 13px;
  margin-top: 10px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}*/

/* the text floats up during form validation */

/*.docente_form label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}*/

/* button styling */

/*
.docente_form button {
  background: #000;
  color: #F0F0F0;
  border: 2px solid #000;
  font-size: 15px;
  letter-spacing: 2px;
  padding: 20px 75px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.docente_form button:hover, button:focus {
  background-color: white;
  color: #333333;
}
*/

.form-control{
	padding: 9px 10px !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    color: #262626 !important;
    background-color: #fafafa !important;
    width: 100% !important;
    height: auto !important;
    border: 1px solid #ebebeb !important;
    outline: 0 !important;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -o-border-radius: 8px !important;
    box-shadow: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

.scroll{
	height: 500px;
	overflow-y: scroll;
	overflow-x: none;
 }

 .menu-top .dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    transform: translate3d(0px, 45px, 0px); /* distancia entre menu e btn */
    top: 0px;
    left: 0px;
    will-change: transform;
}
.menu-top .dropdown {
    display: inline-block; /* deixa o LO do "tamanho do próprio texto" e não da largura inteira da tela*/
    list-style: none; /* rita a "bolinha" do LI*/
}

.box-cad-produto {
  padding: 20px;
  border: solid 2px;
  border-color: #DCDCDC;
  border-radius: 10px 10px 10px 10px;
}

.item-tabs {
    color: #808080;
    font-size: 16px;
    font-weight: bold;
    font-weight: 600;
}

.ul-lateral {
  padding-left: 0;
  list-style: none;
  background-color:transparent;
}

.ul-lateral-item {
  display: inline-block;
}

.rodape {
  position: absolute; 
  bottom: 0; 
  margin-bottom:15px;
}
.number_dash{
  color: #fff;
  font-size: 100px;
}
.alinhar_font{
  padding-top: 30px;
}
.espacamento-servicos{
  display: flex;
  justify-content: space-between;
  padding: 1% 15%;
}
.title_dash{
  font-size: 20px;
}
#log_site .modal-dialog, #log_mkt .modal-dialog,#log_crm .modal-dialog{
  max-width: 100% !important;
  width: 55% !important;
}
i.fas.fa-exclamation-triangle.icon_difference{
    position: absolute;
    font-size: 50px;
    padding-left: 29px;
    color: red;
}
.icon_yellow{
  color: yellow !important; 
}
i.fas.fa-check.icon_correct{
    position: absolute;
    font-size: 50px;
    color: #00e676;
}
.status_dash{
  margin-top: 0px !important;
}

.pulse {
  animation: pulse 1.3s infinite;
  margin: 0 auto;
  display: table;
  margin-top: 50px;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -webkit-filter: brightness(100%);
  }
  100% {
    -webkit-transform: scale(1.4);
    -webkit-filter: brightness(200%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    filter: brightness(100%);
  }
  100% {
    transform: scale(1.4);
    filter: brightness(200%);
  }
}


/* campanha cartão */

.bg_card{
  background-image: url("/assets/img/cartao/losangos.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5%;
}
.logo_cartao{
  padding-top: 180px;
}
.alinhar_cartoes{
  margin-top: -414px;
}
.alinhar_cartoes .form-check-input{
  margin-left: 0px !important;
}
.espacamento_cartao{
  margin-top: 50px;
}
.btn-card{
  margin-top: 40px;
  border-radius: 20px !important;
  padding: 7px 30px !important;
  font-size: 20px !important;
}
.user_card{
  padding-top: 155px;
  font-weight: bolder;
  font-size: 20px;
  font-family:"all-round-gothic";
}
.mensagem_card {
  font-size: 20px;
  height: 95px;
  word-break: break-word;
  font-family:"all-round-gothic";
}
.assinatura_card{
  text-align: right;
  padding-right: 10px;
  font-family:"all-round-gothic";
  padding-top: 13px;
}
.alinhar_btn{
  justify-content: center;
}
.warning_card{
  color: #0073b6;
  font-size: 20px;
  margin-top: 20px;
}
.btn-card{
  background-color: #2c91fc;
  color: #fff;
  margin: 10px;
}
.title_card{
  font-size: 25px;
  font-weight: 800;
  color: #2c91fc;
  font-family:"all-round-gothic";
}
.cond_card p{
  line-height: 19px;
  color: #325694;
  font-size: 18px;

}
.form_style{
  padding: 0px !important;
  margin-top: 40px;
}
.form_style{
  color: #2c91fc;
  font-size: 18px;
  font-weight: 500; 
}
.alinhar_cartoes img{
  transition: transform .2s;
}
.alinhar_cartoes img:hover{
  transform: scale(1.2);
}
.btn-card2{
  background: #0054a3;
  color: #fff;
  padding: 5px 40px !important;
  border-radius: 20px !important;
  font-size: 16px !important;
  line-height: 20px !important;
  margin: 10px;
  transition: transform .2s;
}
.btn-card2:hover{
  background: #2c91fc !important;
  color: #fff;
}